*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 html{
    font-size: 62.5%;
    /*rem=10px*/
}
body{
    font-size: 1.6rem;
    font-size:(paragraph);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#D6E1FF;
    width: 100%;
    height: 100vh;
   
}
.section-main-container{
    min-width: 28rem;
    max-width: 40rem;
    background-color: white;
    border-radius: 10px;
    margin: 2rem;
}
div{
    width: 100%;
}
.div-img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.div-info h2{
    font-size: 20px;
    color: #1C2B4F;
    margin: 1rem 0 1rem 0;

}
.div-info p{
    color: #8F919F;
    line-height: 2,2rem;
}
.div-info{
    text-align:  center;
}
.div-price{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-items: center;
}
.div-price div img{
    width: 40%;
}
.div-price .div-prices-img{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
.div-price .div-prices-p{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
.div-price div a{
    color: #6055CB;
    font-weight: 900;
    font-size: 12px;
}
.div-price div p:nth-child(1){
    font-weight: 900;
    color: #1C2B4F;
    font-size: 12px;
}
.div-price div p:nth-child(2){
    font-weight: 900;
    color: #8F919F;
    font-size: 12px;
}
.main-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}
.main-buttons .button-1{
    border-radius: 10px;
    height: 3rem;
    border: none;
    width: 80%;
    background-color: #382AE1;
    margin-bottom: 0,5rem;
    color: white;
}
.main-buttons .button-2{
    border-radius: 10px;
    height: 3rem;
    border: none;
    width: 80%;
    background-color: white;
    color: #8F919F;
    margin-bottom: 2rem;
}